# .editorconfig
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
max_line_length = off
indent_style = tab
indent_size = 4

[go.mod]
indent_style = tab
indent_size = 4

[go.sum]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
