name: Go CI
on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - run: go build ./...
      - run: go test ./... -v -count=1
      - run: go vet ./...
      - uses: golangci/golangci-lint-action@v4
        with:
          version: latest
